# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Environment
.env

# Alembic
alembic/__pycache__/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Ignore PDFs
*.pdf

#Ignore node modules and build artifacts
node_modules/
dist/